//
//chairman page
//
.left-side-chairman
	width: 50%
	left: 0
	height: 100%
	position: absolute
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
	
	.content

		.skew-div
			height: 100%
			width: 530px
			right: 0
			position: absolute
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			background: #f50257
			+transform( skew(-20deg))

			&:after
				content: ""
				position: absolute
				width: 297px
				right: -146px
				height: 180px
				background: url('../images/disturbe-logo.png') no-repeat
				background-size: cover
				+transform( skew(20deg))

			.title-page
				position: absolute
				right: 15px
				top: 40%
				height: 100px
				margin-top: -100px
				+transform( skew(20deg))


				h3
					color: #fff
					font-size: 60px
					font-weight: 300
					font-style: italic
					margin-bottom: 0
					margin-top: 0
					text-align: right

.right-side-chairman
	width: 50%
	right: 0
	height: 100%
	position: absolute

	.content
		position: absolute
		top: 30%
		margin-top: 40px
		+transform( skew(-20deg))

		.chairman-tagline
			color: #fff
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			font-weight: 300
			font-size: 16px
			margin-left: 10px
			@media (min-width: 1920px)
				margin-left: 25px

			
			span
				display: block
				letter-spacing: 0.7px
				margin-bottom: 10px
				width: 90%

		.nicescroll-rails
			+transform( skew(20deg))

		.sign-inner
			font-size: 20px
			width: 400px
			height: 126px
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			color: #fff
			font-weight: 300
			background: url('../images/sign-bg.png') no-repeat right bottom
			background-size: 310px
			margin-top: -20px
			position: absolute
			left: 100px

			p
				position: absolute
				right: 10px
				bottom: 10px

			span
				display: block
				font-size: 16px


//mobile 
.mobile-page-chairman
	+background-image(linear-gradient(to right, #74ff02, #f6ff02 ))
	width: 100%
	height: 150%
	position: absolute
	padding: 18px
	@media (min-width: 500px) and (max-width: 750px)
		height: 640px
	@media (max-width: 325px)
		height: 960px

	.wraper-inner-chairman
		background: #2b0041
		width: 100%
		height: 100%



.mobile-skew-chairman
	height: 90%
	width: 200px
	left: 0
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #f70054

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20PX
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		h3
			color: #fff
			font-size: 30px
			font-weight: 300
			font-style: italic
			margin-bottom: 0
			margin-top: 0
			text-align: left
			margin-bottom: 10px
			margin-top: 0px

		p
			font-size: 12px
			color: #fff
			font-weight: 300

//mobile 
.mobile-page-media
	background: #241481
	border: 18px solid #cc3298
	width: 100%
	height: 200%
	position: absolute
	padding: 18px

	@media (max-width: 325px)
		height: 280%


.mobile-skew-media
	height: 90%
	left: 0px
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #6900b3

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		h3
			color: #fff
			font-size: 30px
			font-weight: 300
			font-style: italic
			margin-bottom: 0
			margin-top: 0
			text-align: left
			margin-bottom: 10px
			margin-top: 0px

		p
			font-size: 12px
			color: #fff
			font-weight: 300

		.sign-inner
			font-size: 12px
			width: 200px
			height: 61px
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			color: #fff
			font-weight: 300
			background: url('../images/sign-bg.png') no-repeat right bottom
			background-size: cover
			position: absolute
			left: 100px
			left: 70px
			bottom: -58px!important

			p
				position: absolute
				right: -13px
				bottom: 6px

			span
				display: block
				font-size: 12px










