//
//index
//
#main-index-page
	+transition( all 0.8s )
	background-color: #afafae

	&.change-bg
		background: #d9bd35	

	&.change-bg2
		background: #ffe856

	&.change-bg3
		background: url("../images/line-bg.png") #0c21e2


	.fake-index-page
		overflow: hidden
		+transition( all 0.8s )
		background-color: #afafae

		&.change-bg
			background-color: #d9bd35

		&.change-bg1
			background: url("../images/looping.gif") 	

		&.change-bg2
			background: #ffe856

		&.change-bg3
			background: url("../images/line-bg.png") #0c21e2

		.logo
			width: 144px
			height: 99px
			position: absolute
			border: none
			margin: 0
			top: 80px
			left: 50%
			margin-left: -72px
			z-index: 99

			@media (max-width: $screen-xs-max) 
				width: 30px
				height: 19px

			span
				text-indent: -9999px
				background: url("../images/index-logo.png") no-repeat 0 0
				position: absolute
				width: 144px
				height: 99px
				left: 0
				top: -24px

				@media (max-width: $screen-xs-max) 
					width: 30px
					height: 19px
					left: 57px
					top: -33px
					background-size: cover

		.menu-fake
			position: absolute
			width: 100%
			top: 80px

			@media (max-width: $screen-xs-max) 
				top: 40px

			&-inner 
				@include background-image(linear-gradient(#f8f8f8, #cacac9))
				-webkit-box-shadow: 0px 7px 28px 0px rgba(0, 0, 0, 0.2)
				-moz-box-shadow: 0px 7px 28px 0px rgba(0, 0, 0, 0.2)
				box-shadow: 0px 7px 28px 0px rgba(0, 0, 0, 0.2)
				+transition( all 0.6s )

			&.line
				.menu-fake-inner
					border: 1px solid #e62626
					margin-left: 30px
					margin-right: 30px
					position: relative

					&:after,
					&:before,
					.dot:after,
					.dot:before
						content: ""
						width: 10px
						height: 10px
						+border-radius( 100% )
						border: 1px solid #e62626
						background-color: #ffffff
						position: absolute

					&:after
						top: -5px
						left: -5px

					&:before
						top: -5px
						right: -5px

					.dot:after
						bottom: -5px
						left: -5px

					.dot:before
						bottom: -5px
						right: -5px

			&.line-edit
				.menu-fake-inner
					background-color: transparent
					background-image: none

			&.menu-edit
				ul
					text-align: left
					padding: 20px

				li
					display: inline-block
					list-style: none
					padding: 0 10px
					color: #000
					font-size: 18px
					border-right: 0 none
					margin-bottom: 6px

					&.menu-entry 
						margin-right: 0

			&.menu-edit2
				li
					&:first-child
						display: block

			&.menu-edit3
				li
					&:nth-child(3)
						display: block

			&.menu-edit4
				li
					&:nth-child(4)
						display: block

			&.menu-edit5
				li
					&:nth-child(5)
						display: block

			&.menu-edit6
				li
					&:nth-child(6)
						display: block

			&.clear-line
				ul 
					padding: 50px 40px 20px

			&.menu-right
				width: auto

				li
					position: relative
					width: auto
					z-index: 10

					&:before
						content: ""
						position: absolute
						top: 0
						bottom: 0
						background-color: #fcf9e4
						z-index: -1
						height: 100%
						width: 0
						+transition( all 0.4s )

					&:nth-child(2):before
						left: 20px

					&:nth-child(3):before
						left: 40px

					&:nth-child(5):before
						left: 16px

					&:nth-child(6):before
						left: 15px

					&.show-bg

						&:first-child:before
							width: 45px

						&:nth-child(2):before
							width: 110px

						&:nth-child(3):before
							width: 55px

						&:nth-child(4):before
							width: 100px

						&:nth-child(5):before
							width: 45px

						&:nth-child(6):before
							width: 85px


			ul
				text-align: center
				padding: 0
				margin-bottom: 0
				+transition( all 0.4s )

				li
					display: inline-block
					list-style: none
					padding: 18px 20px 15px
					color: #000
					font-size: 19px
					text-transform: uppercase
					font-weight: 700
					font-family: 'Open Sans Condensed', sans-serif
					border-right: 2px solid #f8f8f8
					letter-spacing: -1px
					+transition( all 0.4s )

					@media (max-width: $screen-xs-max) 
						font-size: 10px
						padding: 10px 7px 10px

					&:last-child
						border-right: none

					&.menu-entry 
						border-right: none
						margin-right: 144px

						@media (max-width: $screen-xs-max) 
							margin-right: 18px

		.menu-toggle
			position: absolute
			top: 50px
			right: -40px
			color: #333333
			text-decoration: none
			font-size: 32px
			+transition( all 0.4s )

			&:hover
				text-decoration: none
				color: #000000

	.index-fake
		@include background-image(linear-gradient(#aaaaaa, #bbbbbb 10%, #cccccc 70%, #bbbbbb))
		min-height: 100%
		padding: 0
		width: 960px

		@media (max-width: $screen-xs-max) 
			width: 100%

		&.clear-bg
			background-color: transparent
			background-image: none

	

		.wraper-inner-image
			padding-top: 200px
			text-align: center
			position: relative

			@media (max-width: $screen-xs-max) 
				padding-top: 130px

			.disrupt-text
				position: absolute
				width: 100%
				text-align: center
				+transition( all 0.4s )
				opacity: 0

				@media (max-width: $screen-sm-min)
					top: 220%

				&.skew
					background: #000
					padding: 70px
					color: #fff
					+transform( skew(-20deg))

					@media (max-width: $screen-sm-min)  
						padding: 20px

					h1
						color: #fff

					&.normal
						+transform( skew(0deg))
				h1
					font-size: 140px
					color: #000
					position: relative
					z-index: 2

					@media (max-width: $screen-sm-min)
						font-size: 40px
						

				.look-skew
					position: absolute
					background: #000
					top: 0
					left: 15%
					height: 0
					width: 0
					+transition( all 0.4s )
					z-index: 1
					+transform( skew(-20deg))

					@media (max-width: $screen-sm-min)
						top: 40%  


			.home-fake-image

				&.hidden
					display: none

				img
					width: 100%
					margin: 0 auto


			.black-separator

				span
					background: url("../images/balck-separator.png") no-repeat
					width: 317px
					height: 11px
					display: block
					margin: 50px auto

	.text-from-about
		position: absolute
		bottom: 60px
		font-size: 16px
		color: #000
		text-align: right
		width: 720px
		-ms-transform: scale(0)
		-webkit-transform: scale(0)
		transform: scale(0)

		span
			display: block

		&.line
			border: 1px solid #e62626
			margin-left: 30px
			margin-right: 30px
			position: absolute
			width: 0
			opacity: 0
			+transition( all 0.4s )

			&:after,
			&:before,
			.dot:after,
			.dot:before
				content: ""
				width: 10px
				height: 10px
				+border-radius( 100% )
				border: 1px solid #e62626
				background-color: #ffffff
				position: absolute

			&:after
				top: -5px
				left: -5px

			&:before
				top: -5px
				right: -5px

			.dot:after
				bottom: -5px
				left: -5px

			.dot:before
				bottom: -5px
				right: -5px

	.text-top-from-about
		position: absolute
		top: -20%
		font-size: 36px
		right: 20%
		font-family: 'Open Sans Condensed', sans-serif
		text-align: left
		width: 300px
		overflow: hidden

		.black-line
			width: 0
			height: 1px
			display: block
			background: #000

	#about-direct
		opacity: 0
		+transition( all 0.8s )
		width: 100%
		height: 100%
		top: 0

#after-page-index
	opacity: 0
	z-index: -10
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: #deff00
	border: 18px solid #ff67d6

.index-real-menu
	opacity: 0
	z-index: 4000
	position: absolute

.left-side-index
	width: 50%
	height: 100%
	position: absolute
	top: 0
	left: 0
	opacity: 0
	

	.skew-div-index-after
		background: #00ff30
		left: -1000px
		+transform( skew(-20deg))
		height: 100%
		opacity: 0
		margin-left: -110px
		width: 530px
		position: absolute
		+transition( all 0.4s )

		@media (min-width: 1920px)
			margin-left: 40px

		.after-logo
			content: ""
			position: absolute
			width: 420px
			right: -404px
			height: 212px
			background: url("../images/disturbe-logo-right.png") no-repeat
			background-size: cover
			+transform( skew(20deg))
			opacity: 0
			top: 110%
			margin-top: -106px

			.entry-kit-next
				position: absolute
				bottom: -27px
				right: 0
				a
					font-size: 18px
					color: #272727
					text-decoration: underline



		.before-logo
			content: ""
			position: absolute
			width: 495px
			left: 139px
			height: 477px
			background: url("../images/disturbe-logo-left.png") no-repeat
			background-size: cover
			opacity: 0
			top: -100%
			margin-top: -233.5px
			+transform( skew(20deg))





