//
//main
//
#desktop
	@media (max-width: $screen-xs-max) 
		display: none

#mobile
	display: none
	@media (max-width: $screen-xs-max) 
		display: block
		width: 100%
		height: 100%
		padding-top: 54px

.scrollable
	height: 300px
	
#main
	position: absolute
	width: 100%
	height: 100%


	&.after-page
		background: #deff00
		border: 18px solid #ff67d6

	&.entry-page
		background: #0c21e2
		border: 18px solid #3b3b3b

	&.media-release
		background: #241481
		border: 18px solid #cc3298

	&.chairman
		background: #2a0040
		border: 18px solid #74ff02

	&.sponsor
		background: #fff
		border: 18px solid #00fff6

	&.jury
		background: #00ffd2
		border: 18px solid #00c7d9

	&.about
		background: url('../images/curve.png') repeat #3d3b34
		border: 18px solid #f3ff02

	&.awwards
		background: #090e3f
		border: 18px solid #deff00

	&.gallery
		background: #0006ff
		border: 18px solid #000000

	&.category
		background: #00ffd8
		border: 18px solid #ff00ba



.skew-div
	height: 100%
	width: 530px
	position: absolute
	font-family: 'Puritan', sans-serif
	outline: 1px solid transparent


	&.after-page
		background: #00ff30
		left: 188px 
		+transform( skew(-20deg))

		@media (min-width: 1600px)
			left: 50%

		.content
			+transform( skew(20deg))
			&:after
				position: absolute
				content: ""
				width: 784px
				height: 477px
				background: url('../images/disturbe-logo.png') no-repeat
				top: 150px
				left: 0
				background-size: cover


				@media (min-width: 1600px)
					top: 250px
					left: -39px

			.join-now-text
				position: absolute
				top: 530px
				width: 100px
				left: 697px
				z-index: 400

				@media (min-width: 1600px)
					top: 630px
					left: 658px
				a
					font-size: 18px
					color: #272727
					text-decoration: underline

	&.entry-page
		background: #ffd800
		right: 200px
		+transform( skew(-20deg))







		