.menu-mobile
	background: #3c24fb
	position: fixed
	top: 0
	width: 100%
	height: 55px
	z-index: 4600

	.logo-mobile
		display: inline-block
		a
			width: 65px
			height: 45px
			background: url('../images/mobile-logo.png') no-repeat 0 0
			background-size: cover
			text-indent: -9999px
			display: inline-block
			position: relative
			top: 5px
			left: 15px

	.menu
		float: right
		margin-right: 20px

		.navicon
			width: 30px
			height: 5px

			&:before, &:after 
				height: 5px
				width: 30px

			&:before
				top: 10px
			&:after
				top: -10px

#nav-mobile
	position: fixed
	z-index: 500
	margin-top: 0px
	width: 100%
	height: 100%
	background: #3c24fb
	border-top: 1px solid #975553
	@include transform(translateY(-200%))
	+transition( all 0.3s )

	@media only screen and (min-width: 550px) and (max-width: 780px)
		height: 320%

	.wraper-content-menu-mobile

		ul 
			padding: 0

			li
				margin-bottom: 5px
				list-style: none
				border-bottom: 2px solid #975553
				padding: 5px 25px 7px
				&:last-child
					border-bottom: none
				a
					font-family: 'Open Sans Condensed', sans-serif
					font-size: 25px
					color: #fff
					text-decoration: none
					font-weight: 600

				ul
					padding: 10px 0 10px 40px

					li
						border-bottom: none
						padding: 5px 0px 7px
						a
							font-size: 25px
							margin-bottom: 10px


		
		